<div class="col-sm w w-auto-xs b-r bg-auto">
  <div class="p-a-sm pos-rlt">
    <div>
      <button class="btn btn-sm white pull-right hidden-sm-up" ui-toggle-class="show" target="#inbox-menu"><i class="fa fa-bars"></i></button>
      <a class="btn btn-sm btn-block white text-primary w-xs" data-toggle="modal" data-target="#new-project">New Project</a>
    </div>
    <div class="hidden-xs-down m-t" id="inbox-menu">
      <div class="nav-active-danger">
        <div class="nav nav-pills nav-xs">
          <a class="nav-link ng-binding ng-scope"  ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/">
            Open
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/starred">
            Closed
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Completed
          </a>
        </div>
      </div>
      <div class="nav-active-white m-t">
        <div class="nav nav-pills nav-xs">
          <a class="nav-link ng-binding ng-scope"  ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/">
            Art
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/starred">
            Economy
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Engineering
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Health
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Sport
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Law
          </a>
          <a class="nav-link ng-binding ng-scope" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active" href="#/app/inbox/inbox/sent">
            Social Sciences
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
