<div class="jumbotron users-jumbotron home-bg no-radius box-shadow-z3 m-b-0" style="z-index:99999999999;">
  <div class="container-fluid">
    <h1 class="text-left m-b text-white">How to Start a Project?</h1>
    <p class="text-left text-white text-md _300 m-b-0">In Synapse a project can start with just one idea, person or resource.<br>Then you just let the synapses begin all through this network so you can get your project up and running!</p>
  </div>
</div>
<div class="box">
  <ul class="list inset m-a-0">
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">1</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Click any <em class="text-blue b-a p-x-sm light rounded">Start a Project</em> button.</a></div>
        <span class="">When you click any button a popup will appear like the one below.</span>
      </div>
    </li>
  </ul>
  <div class="row light b-t b-b">
    <div class="col-xs-12 col-md-5 center-block">
      <img src="<%= image_url('start-a-project-popup.png') %>" class="w-full p-a"/>
    </div>
  </div>
  <ul class="list inset m-a-0">
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">2</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Choose a good title for your project.</a></div>
        <span class="">You don't have to say it all on the title. Just say the name of the project and on the description you can provide a few more details but keep in mind. This is not the place for your ideas or resources!</span>
      </div>
    </li>
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">3</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Do you want everyone to see it or just a few selected people?</a></div>
        <span class="text-dark">By choosing the visibility of your project you are deciding if anyone will be able to contribute directly to it or if people will only see and contribute to it after you accepte their request to join the project. <span class="text-warning _600">Warning:</span> Choosing a closed project may hinder its reach and also the amount of ideas, resouces and people you might get from the Synapse comunnity.</span>
      </div>
    </li>
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">4</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">What do you need from the Synapse comunnity?</a></div>
        <span class="text-dark">Your starting a project because you have at least one of these three: Idea, Resource or People. So what do you need?<br>If you have an Idea...you're probably looking for People and Resources. So simply say <span class="text-primary _600">Yes</span> to accepting People and Resources and <span class="text-warning _600">No</span> to Ideas. It's that simple!<br>The options are limitless and always depend on what you're looking for and what your project needs to get of the ground.</span>
      </div>
    </li>
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">5</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Click <em class="text-blue b-a p-x-sm light rounded">Start a Project</em></a></div>
        <span class="text-dark">These options are always editable any time so don't worry.<span>
      </div>
    </li>
  </ul>
  <div class="row light b-t b-b">
    <div class="col-xs-12 col-md-8 center-block">
      <img src="<%= image_url('project-clean-slate.png') %>" class="w-full p-a"/>
    </div>
  </div>
  <ul class="list inset m-a-0">
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">6</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Submit the first entry!</a></div>
        <span class="">In our example, we had an Idea and needed everything else so now we need to submit the first Idea so the Synapse comunnity can start contributing.<br>Notice the <i class="icon-key text-blue"></i> symbol. This means only you, the project manager, can submit Ideas because you are not accepting ideas from the Synapse comunnity since you already have own of your own.<br> Submit your contribution to this project by clicking in the <i class="icon-bulb text-blue"></i> icon.</span>
      </div>
    </li>
  </ul>
  <div class="row light b-t b-b">
    <div class="col-xs-12 col-md-8 center-block">
      <img src="<%= image_url('project-first-idea.png') %>" class="w-full p-a"/>
    </div>
  </div>
  <ul class="list inset m-a-0">
    <li class="list-item">
      <a herf="" class="list-left">
        <span class="w-40 circle white avatar" style="border:1px solid #9c59b6;">
          <span class="text-accent">7</span>
        </span>
      </a>
      <div class="list-body">
        <div><a href="" class="text-accent _600 text">Congratulations! Let the Synapse comunnity do its thing!</a></div>
        <span class="">As you're seeing the Idea was automatically accepted because it's your idea and you're the project manager.<br>Now you just have to wait for the things you need to get your project started. In our example, Resources and People.</span>
      </div>
    </li>
  </ul>
  <div class="row light b-t b-b">
    <div class="col-xs-12 col-md-8 center-block">
      <img src="<%= image_url('project-few-ideas.png') %>" class="w-full p-a"/>
    </div>
  </div>
</div>
