@import "animate.min.css";
@import "font-awesome";
@import "icons";
$enable-flex: true;
@import "bootstrap";
@import "app";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:900);

body{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.maven{
  font-weight: 900;
}
.alert{
  animation-delay: 3s;
  animation-duration: 2s;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
.layout-fill {
  margin: 0;
  min-height: 100vh;
  width: 100%; }

.home-bg{
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,152,219,1)), color-stop(100%, rgba(156,89,182,0.53)));
background: -webkit-linear-gradient(top, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -o-linear-gradient(top, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -ms-linear-gradient(top, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: linear-gradient(to bottom, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#9c59b6', GradientType=0 );
}
.home-bg-h{
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,152,219,1)), color-stop(100%, rgba(156,89,182,0.53)));
background: -webkit-linear-gradient(left, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -o-linear-gradient(left, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: -ms-linear-gradient(left, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
background: linear-gradient(to right, rgba(52,152,219,1) 0%, rgba(156,89,182,0.53) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#9c59b6', GradientType=0 );
}

.nested {
position: absolute;
top: 0;
left: 0;
font-size: 200%;
color: #a88add;
opacity: 0.6;
}

.nested.fourtimes {
  font-size: 400%;
}


// $clouds: #ecf0f1;
// $wet: #34495e;
// $pomegranate: #c0392b;
// $alizarin: #e74c3c;
// $midnight: #2c3e50;
//
// body{
//   background-color: #f9f9fa !important;
// }
//
// /* NAVBAR */
//
// .navbar.navbar-default{
//   margin-bottom: 0;
//   background-color: $wet;
//   color: #fff;
//   border: none;
//   border-radius: 0;
// }
//
// .navbar.navbar-default.ideas-index{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default.resources-index{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default.projects-index{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default.users-index{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default.users-show{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default.project_entries-show{
//   background-color: transparent !important;
//   margin-bottom: -52px;
// }
//
// .navbar.navbar-default a{
//   color: #fff;
// }
//
// .navbar-nav li a{
//   color: $clouds !important;
//   font-size: 1.2em;
// }
//
// .navbar-nav li a{
//   border-left: 2px solid transparent;
// }
//
// .navbar-nav li a .tool {
//   display: none;
//   position: absolute;
//   bottom: -24px;
//   background-color: #fff;
//   padding: 2px 5px;
//   font-size: 0.8em;
//   color: $wet;
//
//   width: 100px;
//   text-align: center;
//   left: -2px;
// }
//
// .navbar-nav li a:hover {
//   border-left: 2px solid #fff;
// }
//
// .navbar-nav li a:hover .tool {
//   display: inline-block;
// }
//
// .btn-logout{
//   background-color: $pomegranate !important;
//   border-color: $alizarin !important;
//   color: #EE8277 !important;
// }
//
// .badger{
//   position: absolute;
//   top: 7px;
//   right: 12px;
//   width:15px;
//   height:15px;
//   border-radius:50%;
//   font-size:8px;
//   color:#fff;
//   line-height:13px;
//   text-align:center;
//   background: $midnight;
//   font-weight: 300;
//   border: 1px solid #fff;
// }
// .navbar-header{
//   width: 100%;
// }
//
//
//
//
// .jumbotron{
//   background-color: #fff;
//   border-bottom: 2px solid #ecf0f1;
//   padding-top: 20px;
//   padding-bottom: 20px;
// }
//
// .jumbotron h1{
//   font-size: 2.5em;
// }
//
// .jumbotron p{
//   font-size: 1.125em;
// }
//
//
// /* FORMS */
//
// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }
//
// /* POPOVER */
//
// .popover-content{
//   padding: 0;
// }
//
// @media (max-width: 768px) {
//   .nav.navbar-nav{
//     margin: 5px 0 0 0;
//     float: left;
//   }
//   .nav.navbar-nav li{
//     width: auto;
//     display: inline-block;
//   }
//   .navbar-header{
//     width: auto;
//   }
// }
