<div id="aside" class="app-aside modal folded md show-text nav-dropdown ng-scope">
  <div class="left navside dark" layout="column">
    <div class="navbar p-a-0 no-radius dk">
      <a class="navbar-brand ng-scope">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
          <path d="M 4 4 L 44 4 L 44 44 Z" fill="#F5F5F5"></path>
          <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
          <path d="M 4 4 L 24 4 L 4  44 Z" fill="#f44455"></path>
        </svg>
        <img src="../assets/images/logo.png" alt="." class="hide">
        <span class="hidden-folded inline ng-binding">Flatkit</span>
      </a>
    </div>
    <div flex="" class="hide-scroll">
      <nav class="scroll nav-active-primary">
        <ul class="nav ng-scope m-x-xs" ui-nav="">
          <li class="nav-header hidden-folded">
            <span class="text-xs text-muted">Header</span>
          </li>
          <li>
            <a class="text-white b-b b-dk">
              <span class="nav-icon">
                <i class="icon-lab">
                </i>
              </span>
              <span class="nav-text">Projects</span>
            </a>
          </li>
          <li class="">
            <a class="text-white b-b b-dk">
              <span class="nav-caret text-muted">
                <i class="fa fa-caret-down"></i>
              </span>
              <i class="nav-label"><b class="label label-sm no-bg hidden-xs-up">6</b></i>
              <span class="nav-icon">
                <i class="icon-bulb"></i>
              </span>
              <span class="nav-text">Ideas</span>
            </a>
          </li>
          <li>
            <a class="text-white b-b b-dk">
              <span class="nav-icon">
                <i class="icon-diamond"></i>
              </span>
              <span class="nav-text text-xs">Resources</span>
            </a>
          </li>
          <li>
            <a class="text-white b-b b-dk">
              <span class="nav-icon">
                <i class="icon-user"></i>
              </span>
              <span class="nav-text">Users</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div flex-no-shrink="" class="ng-scope p-b-sm">
      <nav ui-nav="" class="ng-scope">
        <ul class="nav">
          <li class="no-bg">
            <a class="text-white b-dk b-t">
              <span class="nav-icon"><i class="icon-key"></i></span>
              <span class="nav-text">Login</span>
            </a>
          </li>
        </ul>
        <div flex-no-shrink="" class="ng-scope">
          <div class="nav-fold ng-scope">
            <a href="#/app/page/profile">
              <span class="pull-left">
                <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/1186027_10201541721642370_749509065_n.jpg?oh=c3bc2b0dd1f6ff74427e2f0f7f66655a&oe=57DD9169" alt="..." class="w-32 img-circle">
              </span>
              <span class="clear hidden-folded p-x">
                <span class="block _500">Jack Perez</span>
                <small class="block text-muted">Administrator</small>
              </span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
