<div class="app-header white box-shadow">
  <div class="navbar ng-scope p-a-0">
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="material-icons"></i>
    </a>
    <div class="navbar-item p-a pull-left v-m h5 m-a-0 ng-binding" id="pageTitle"><i class="icon-lab m-r m-l-sm"></i>Projectos</div>
    <ul class="nav navbar-nav"><li class="nav-item dropdown"><a class="nav-link" href="" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-fw fa-plus v-m text-muted text"></i> <small class="v-m">New</small></a><div class="dropdown-menu dropdown-menu-scale ng-scope"><a class="dropdown-item" ui-sref="app.inbox.compose" href="#/app/inbox/compose"><span>Inbox</span></a> <a class="dropdown-item" ui-sref="app.todo" href="#/app/todo"><span>Todo</span></a> <a class="dropdown-item" ui-sref="app.note.list" href="#/app/note/list"><span>Note</span> <span class="label primary m-l-xs">3</span></a><div class="dropdown-divider"></div><a class="dropdown-item" ui-sref="app.contact" href="#/app/contact">Contact</a></div></li></ul>
    <ul class="nav navbar-nav pull-right p-x">
      <li class="nav-item dropdown pos-stc-xs m-l">
        <a class="nav-link" href="" data-toggle="dropdown">
          <i class="material-icons v-m">notifications_none</i>
          <span class="label label-sm up warn">3</span>
        </a>
        <div class="dropdown-menu pull-right w-xl animated fadeInUp no-bg no-border no-shadow ng-scope">
          <div class="scrollable" style="max-height: 220px">
            <ul class="list-group list-group-gap m-a-0">
              <li class="list-group-item black lt box-shadow-z0 b">
                <span class="pull-left m-r">
                  <img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle">
                </span>
                <span class="clear block">Use awesome <a href="" class="text-primary">animate.css</a><br><small class="text-muted">10 minutes ago</small>
                </span>
              </li>
              <li class="list-group-item black lt box-shadow-z0 b">
                <span class="pull-left m-r">
                  <img src="../assets/images/a1.jpg" alt="..." class="w-40 img-circle">
                </span>
                <span class="clear block">
                  <a href="" class="text-primary">Joe</a>
                  Added you as friend<br><small class="text-muted">2 hours ago</small>
                </span>
              </li>
              <li class="list-group-item dark-white text-color box-shadow-z0 b"><span class="pull-left m-r"><img src="../assets/images/a2.jpg" alt="..." class="w-40 img-circle"></span> <span class="clear block"><a href="" class="text-primary">Danie</a> sent you a message<br><small class="text-muted">1 day ago</small></span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
